<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <meta name="theme-color" content="#f96501" />
    <meta name="author" content="Mochammad Andre Cahyanto" />
    <meta name="keywords" content="Restoran, Foody, Makanan" />
    <meta
      name="description"
      content="Foody is a website that accommodates several restaurant options that can be used as a reference for you when you want to find a restaurant according to your needs."
    />
    <title>FOODY - Find Your Best Restaurant</title>
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="/images/icons/128x128.png">
    <link rel="icon" href="/images/icons/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <button class="skip-link">SKIP TO CONTENT</button>
    <header>
      <!-- NAVIGATION -->
      <nav-bar></nav-bar>
    </header>
    <main></main>
    <footer-bar></footer-bar>
  </body>
</html>
