@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");

.detail-wrapper {
  display: grid;
  grid-template-columns: 70% auto;
  column-gap: 25px;
}

/* -------------------------------------------- CARD HERO ---------------------------------------------- */

.card-detail,
.card-review {
  border: 1px solid #d4d4d8;
  border-radius: 3px;
  width: 100%;
}

.detail-img {
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 3px 3px 0 0;
  position: relative;
}

.detail-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.other-detail {
  padding: 15px;
}

.other-detail .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;
}

.detail-name {
  text-transform: capitalize;
  font-size: 2rem;
}

.header .rating {
  font-size: 16px;
  display: flex;
  align-items: center;
}

.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  margin-right: 5px;
}

.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
  font-size: 16px;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  color: #f96501;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f96501;
  font-size: 16px;
}

.detail-city {
  font-size: 16px;
  margin-bottom: 15px;
}

.detail-city .icon {
  margin-right: 8px;
  color: #f96501;
  font-size: 16px;
}

.badge-category {
  display: flex;
  align-items: center;
}

.category-name:nth-child(1) {
  margin-right: 12px;
}

.category-name {
  list-style: none;
  font-size: 16px;
  padding: 6px 12px;
  background-color: wheat;
  border-radius: 3px;
}

.btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#btn-favorite-container {
  margin: 0 5px 5px 0;
}

.favorite {
  border: 2px solid #f96501;
  font-weight: bold;
  padding: 8px 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 3px;
}

.favorite .icon {
  margin-right: 8px;
}

.favorite[aria-label="unfavorite-restaurant"] {
  background-color: #ffffff;
  color: #f96501;
}

.favorite[aria-label="unfavorite-restaurant"] .icon {
  color: #f96501;
}

.favorite[aria-label="favorite-restaurant"] {
  background-color: #f96501;
  color: #ffffff;
}

.favorite[aria-label="favorite-restaurant"] .icon {
  color: #ffffff;
}

/* -------------------------------------------- CARD ABOUT-MENU ---------------------------------------------- */

.p-15 {
  padding: 15px;
}

.header-about,
.header-menu,
.header-review {
  padding: 10px 15px;
  background-color: #f0f0f0;
  font-weight: bold;
  border-radius: 3px;
  margin-bottom: 18px;
  text-align: center;
}

.desc-about,
.desc-foods,
.desc-drinks {
  font-size: 16px;
  padding: 0 15px;
}

.desc-foods,
.desc-drinks {
  margin-bottom: 8px;
}

.menu-category {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 10%;
}

.draft-foods,
.draft-drinks {
  list-style: none;
  margin-left: 10%;
}

.draft-foods li,
.draft-drinks li {
  margin-bottom: 3px;
  text-transform: capitalize;
}

.draft-foods li::before,
.draft-drinks li::before {
  content: "\f058";
  font-family: FontAwesome;
  font-size: 16px;
  margin-right: 8px;
  color: #f96501;
}

/* -------------------------------------------- CARD REVIEW ---------------------------------------------- */

.people-review {
  display: grid;
  column-gap: 15px;
  row-gap: 15px;
  justify-content: center;
}

.review-result {
  box-shadow: #f96501 0 0 0 1px;
  border-radius: 3px;
  padding: 15px;
  word-wrap: break-word;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.review-author,
.review-content {
  font-size: 16px;
}

.review-author {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  font-weight: bold;
}

.review-date {
  font-size: 12px;
  color: #9e9e9e;
  font-weight: normal;
}

.review-author .icon {
  font-size: 4px !important;
  margin: 0 6px;
  font-weight: normal;
  color: #9e9e9e;
}

.review-content {
  font-style: italic;
}

.add-review {
  background-color: wheat;
  border-radius: 3px;
  padding: 20px;
  position: relative;
}

.review-title {
  font-weight: bold;
}

.input-review-name,
.input-review-content {
  border-radius: 3px;
  padding: 15px;
  font-size: 16px;
  width: 100%;
  border: none;
}

.input-review-name:focus,
.input-review-content:focus {
  border: 2px solid #f96501;
  outline: none;
}

.total-review {
  font-weight: bold;
}

.button-submit-review {
  border: none;
  padding: 8px 15px;
  background-color: #f96501;
  font-size: 16px;
  color: #ffffff;
  border-radius: 3px;
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-left: auto;
}

.button-submit-review:hover {
  background-color: #d85600;
}

/* -------------------------------------------- ASIDE ---------------------------------------------- */

aside section {
  display: grid;
  column-gap: 15px;
  row-gap: 15px;
  grid-template-columns: 1fr;
}

aside .other-title {
  font-size: 1.5rem;
  font-weight: bold;
}

other-restaurant .other-restaurant-wrapper {
  margin-bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  width: 100%;
  border: 1px solid #d4d4d8;
  border-radius: 3px;
}

other-restaurant .other-restaurant-wrapper .thumbnail {
  width: 100%;
  height: 150px;
  overflow: hidden;
  border-radius: 3px 0 0 3px;
  position: relative;
}

other-restaurant .other-restaurant-wrapper .thumbnail img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

other-restaurant .other-restaurant-wrapper .description {
  padding: 10px;
}

.other-restaurant-wrapper .restaurant-name {
  font-size: 18px !important;
}

.other-restaurant-wrapper .restaurant-desc,
.other-restaurant-wrapper .restaurant-city,
.other-restaurant-wrapper .restaurant-city .icon,
.other-restaurant-wrapper .thumbnail .rating,
.other-restaurant-wrapper .thumbnail .rating,
.icon {
  font-size: 14px !important;
}

.other-restaurant-wrapper .restaurant-desc {
  word-wrap: break-word !important;
}

/* -------------------------------------------- BREAKPOINTS --------------------------------------------- */

@media (min-width: 576px) {
  .people-review {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 20px;
  }

  .add-review,
  .total-review {
    margin: 0 20px;
  }
}

@media (min-width: 540px) {
  aside section {
    grid-template-columns: repeat(2, 1fr);
  }

  other-restaurant .other-restaurant-wrapper {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  aside section {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 772px) {
  aside section {
    display: block;
  }

  other-restaurant .other-restaurant-wrapper .thumbnail {
    height: 130px;
  }

  other-restaurant .other-restaurant-wrapper {
    margin-bottom: 15px;
  }

  .card-review {
    margin-bottom: 4rem !important;
  }
}

@media (max-width: 360px) {
  .btn-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  #btn-favorite-container {
    margin-top: 20px !important;
  }
}

@media (max-width: 500px) {
  .detail-img {
    height: 330px;
  }
}

@media (max-width: 540px) {
  .card-detail {
    width: 100%;
  }

  .other-detail .header {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .detail-name {
    font-size: 2rem;
  }

  .menu-category {
    margin: 0;
  }

  .draft-foods,
  .draft-drinks {
    margin-left: 15px;
  }

  .people-review {
    grid-template-columns: 1fr;
  }

  #btn-favorite-container {
    margin: 0;
  }

  .category-name:nth-child(2) {
    margin-right: 12px;
  }
}

@media (max-width: 768px) {
  .detail-wrapper {
    display: block;
  }

  other-restaurant .other-restaurant-wrapper .thumbnail {
    max-width: 100% !important;
  }
}

@media (max-width: 1024px) {
  .detail-wrapper {
    grid-template-columns: 65% auto !important;
  }
}

@media (max-width: 990px) {
  other-restaurant .other-restaurant-wrapper {
    display: block;
  }
}
