header {
  padding: 1rem 0;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.5s;
}

header.fixed-top {
  position: fixed;
  background-color: #f96501;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navbar-brand {
  display: flex;
  flex-direction: column;
}

.navbar-brand a {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.navbar-brand a span {
  color: #ffffff;
  font-weight: 900;
  font-size: 28px;
}

.navbar-brand .o {
  font-size: 25px;
  font-weight: lighter;
  color: wheat;
}

.navbar-nav {
  display: flex;
  list-style: none;
}

.navbar-nav .nav-item {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  color: #ffffff;
  position: relative;
  transition: all ease-in-out 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-about {
  cursor: pointer;
  padding: 0 1rem;
  border-radius: 3px;
  background-color: #e95e01;
  border: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  margin-left: 16px;
  transition: all 0.2s;
}

.btn-about.show {
  border: 2px solid #ffffff;
}

.btn-about:hover {
  background-color: #d85600;
}

.hamburger-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}

.hamburger-toggle .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}

/* -------------------------------------------- BREAKPOINTS --------------------------------------------- */

@media (max-width: 540px) {
  header {
    padding: 0.75rem 0;
  }

  .navbar-nav {
    background-color: wheat;
    position: fixed;
    flex-direction: column;
    top: 0;
    right: -1500px;
    width: 55%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
    padding: 75px 30px;
    -webkit-font-smoothing: antialiased;
    transition: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  .navbar-nav {
    flex-direction: column;
  }

  .navbar-nav .nav-item {
    padding: 0;
    color: #000000;
    margin: 0 auto;
  }

  .navbar-brand a {
    font-size: 20px;
  }

  .btn-about {
    margin: 11px auto 0 auto;
    border: none !important;
  }

  .hamburger-toggle {
    display: block;
    z-index: 2;
    position: relative;
  }

  .navbar-nav.show {
    right: 0;
  }

  .hamburger-toggle.show .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger-toggle.show .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: #000000;
  }

  .hamburger-toggle.show .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: #000000;
  }
}

@media (min-width: 768px) {
  .navbar-nav .nav-item::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 2px;
    left: 50%;
    bottom: 0;
    transform: translateX(78%);
    background-color: white;
    transition: all ease-in-out 0.2s;
  }

  .navbar-nav .nav-item:hover::after {
    width: 40%;
    left: 0;
  }
}
